# Lab 3

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from category_encoders import OneHotEncoder
%matplotlib inline

## Get and Explore Data

In [2]:
wa_housing_df = pd.read_csv('ST83446_kc_house_data_.csv')

In [3]:
wa_housing_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

In [4]:
wa_housing_df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [5]:
wa_housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     21597 non-null  int64
 9   view           21597 non-null  int64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  int64
 14  yr_built       21597 non-null  int64
 15  yr_renovated   21597 non-null  int64
 16  sqft_living15  21597 non-null  int64
 17  sqft_lot15     21597 non-null  int64
dtypes: float64(3), int64(14), object(1)
memory usage: 3.0+ MB

In [6]:
wa_housing_df.drop(['id'], axis=1, inplace = True)

In [7]:
year = wa_housing_df['date'].apply(lambda x: x.split('/')[2]).astype('int')

In [8]:
wa_housing_df.insert(1,'sales_year', year)

In [9]:
wa_housing_df['age_of_building']= wa_housing_df['sales_year'] - wa_housing_df['yr_built']

In [12]:
wa_housing_df['years_from_ren']=0
wa_housing_df.loc[wa_housing_df['yr_renovated']>0,'years_from_ren'] = wa_housing_df['sales_year']-wa_housing_df['yr_renovated']

In [13]:
# to see if house was renovated recently in 2015
wa_housing_df['2015_living_renovation'] = wa_housing_df['sqft_living'] == wa_housing_df['sqft_living15']
wa_housing_df['2015_lot_renovation'] = wa_housing_df['sqft_lot'] == wa_housing_df['sqft_lot15']

In [16]:
# price per sqft living and lot
wa_housing_df['price_per_living_sqft'] = (wa_housing_df['price']/wa_housing_df['sqft_living15']).astype('int')
wa_housing_df['price_per_lot_sqft'] = (wa_housing_df['price']/wa_housing_df['sqft_lot15']).astype('int')

In [18]:

wa_housing_df.drop(['yr_built','yr_renovated','date','sqft_living','sqft_lot'], axis=1, inplace=True)

In [19]:
wa_housing_df.dtypes

sales_year                  int64
price                     float64
bedrooms                    int64
bathrooms                 float64
floors                    float64
waterfront                  int64
view                        int64
condition                   int64
grade                       int64
sqft_above                  int64
sqft_basement               int64
sqft_living15               int64
sqft_lot15                  int64
age_of_building             int64
years_from_ren              int64
2015_living_renovation       bool
2015_lot_renovation          bool
price_per_living_sqft       int64
price_per_lot_sqft          int64
dtype: object

In [20]:
wa_housing_df['waterfront'] = wa_housing_df['waterfront'].astype('object')
wa_housing_df['view'] = wa_housing_df['view'].astype('object')
wa_housing_df['condition'] = wa_housing_df['condition'].astype('object')
wa_housing_df['2015_living_renovation'] = wa_housing_df['2015_living_renovation'].astype('object')
wa_housing_df['2015_lot_renovation'] = wa_housing_df['2015_lot_renovation'].astype('object')

In [25]:
wa_housing_df['waterfront'].value_counts()

waterfront
0    21434
1      163
Name: count, dtype: int64

In [28]:
wa_housing_df['condition'].value_counts()

condition
3    14020
4     5677
5     1701
2      170
1       29
Name: count, dtype: int64

In [30]:
wa_housing_df['view'].value_counts()

view
0    19475
2      961
3      510
1      332
4      319
Name: count, dtype: int64

In [23]:
wa_housing_df['2015_living_renovation'].value_counts()

2015_living_renovation
False    19034
True      2563
Name: count, dtype: int64

In [24]:

wa_housing_df['2015_lot_renovation'].value_counts()

2015_lot_renovation
False    17123
True      4474
Name: count, dtype: int64