# Lab 4

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.core.array_algos import replace
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler

%matplotlib inline

In [2]:
labels_df = pd.read_csv('lab2_classes.csv')

In [3]:
labels_df.head()

,Unnamed: 0,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,labels_2_clusters,labels_3_clusters,labels_4_clusters
0,0,39.0,2062.0,588.0,1933.0,570.0,1.3801,97000.0,1,1,1
1,1,35.0,1852.0,358.0,1414.0,347.0,4.2750,173600.0,1,0,0
2,2,9.0,2486.0,626.0,1938.0,525.0,2.1293,151400.0,1,1,0
3,3,20.0,37.0,11.0,34.0,8.0,1.2000,50000.0,1,1,1
4,4,26.0,3535.0,748.0,1322.0,666.0,7.1674,500001.0,0,2,3

In [4]:
labels_df.columns

Index(['Unnamed: 0', 'housing_median_age', 'total_rooms', 'total_bedrooms',
       'population', 'households', 'median_income', 'median_house_value',
       'labels_2_clusters', 'labels_3_clusters', 'labels_4_clusters'],
      dtype='object')